/* current time container */
main > div:nth-child(3) {
 text-align:  center;
 font-size: max(1rem, 2cqi);

 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 2rem;
}

main > div:nth-child(3) > p {
   font-weight: bold;
   font-size: max(2rem, 1.5cqi);
   text-transform: capitalize;
}

main > div:nth-child(3) img {
    width: auto;
    height: 30%;
}

main > div:nth-child(3) > div {
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
}

main > div:nth-child(3) div > div:nth-child(1) p{
    flex-direction: column;
    display: flex;
}

main > div:nth-child(3) div > div:nth-child(1) span {
    font-size: max(10cqi);
}

main > div:nth-child(3) div > div:nth-child(2){
    border-left: 2px solid rgb(153, 153, 153);
    height: 100%;
    width: 0;
    align-self: center;
    justify-self: center;
}


main > div:nth-child(3) div > div:nth-child(3) {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    align-items: start;
    justify-content: center;
    gap: 1rem;

    font-size: max(1rem, 1.5cqi);
}