/* FORECAST CONTAINERS */

/*========== Forecast Cont ==========*/
main > div:nth-child(7) {
    text-transform: capitalize;

    display: flex;
    gap: 10px;
    justify-content: space-between;
}

/*========== Inner forecast Cont ==========*/
.forecastCont > div {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

/*========== date ==========*/
.forecastCont > div > p:first-child{
    font-size: clamp(14px, 2vw, 1rem);
}

/*========== day ==========*/
.forecastCont > div > p:nth-child(2){
    color: var(--gray2);
    font-size: clamp(12px, 2vw, 0.9rem);
}

/*========== icon ==========*/
.forecastCont > div > img{
    width: clamp(50px, 50%, 80px);
    height: auto;
}

/*========== status ==========*/
.forecastCont > div > p:nth-child(4){
    font-size: clamp(14px, 2vw, 1rem);
    font-weight: bold;
}

/*========== div ==========*/
.forecastCont > div > div {
   flex-grow: 1;
   padding-top: 1rem;

   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-auto-rows: 1fr;
   justify-items: center;
   justify-content: center;
   column-gap: 1rem;
}

/*========== inner p : headers ==========*/
.forecastCont > div > div > p {
    font-size: clamp(12px, 1.5vw, 14px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*========== inner span : values ==========*/
.forecastCont > div > div > p > span {
   font-size: clamp(14px, 2vw, 18px); 
}

/*========== Media Queries ==========*/
/* Tablet: 1024px */
@media (max-width: 1200px) {
    /*========== Forecast Cont ==========*/
        main > div:nth-child(7) {
            gap: 5px;

            -ms-overflow-style: none; /* for Internet Explorer, Edge */
            scrollbar-width: none; /* for Firefox */
            overflow-x: scroll;
        }

        main > div:nth-child(7)::-webkit-scrollbar {
            display: none;
        }

    /*========== div ==========*/
    .forecastCont > div > div {
        padding-top: 0.5rem;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Phone: 360 */
@media (max-width: 550px), screen and (orientation: portrait) {
    /*========== Inner forecast Cont ==========*/
    .forecastCont > div {
        flex: 1 0 220px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 0.2fr) 0.5fr 1fr;
       
        text-align: center;
        justify-items: center;
        padding: 5px;
    }

    /*========== date ==========*/
    .forecastCont > div > p:first-child{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    /*========== day ==========*/
    .forecastCont > div > p:nth-child(2){
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    /*========== icon ==========*/
    .forecastCont > div > img{
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    /*========== status ==========*/
    .forecastCont > div > p:nth-child(4){
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    /*========== div ==========*/
    .forecastCont > div > div {
        height: 100%;
        grid-column: span 2;
        grid-row: 4 / 5;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 5px;
    }
}


/*========== inner span : values::after ==========*/
.forecastCont > div > div > p > span::after  {
    color: var(--gray2);
    font-size: clamp(12px, 1.5vw, 0.9rem);
    vertical-align: middle;
}

.forecastCont > div > div > p:nth-child(1) span::after {
    content: "\00b0 C";;
}

.forecastCont > div > div >p:nth-child(2) span::after {
    content: "%";
}

.forecastCont > div > div > p:nth-child(3) span::after {
    text-transform: lowercase;
    content: "mph";
}

.forecastCont > div > div >p:nth-child(4) span::after {
    content: "%";
}

.forecastCont > div > div >p:nth-child(5) span::after {
    content: "%";
}
.forecastCont > div > div >p:nth-child(6) span::after {
    content: "%";
}
