:root{
    --bg-1: hsla(50,98%,62%,1);
    --bg-img-1:
        radial-gradient(at 56% 96%, hsla(29,63%,65%,1) 0px, transparent 50%),
        radial-gradient(at 89% 25%, hsla(341,93%,70%,1) 0px, transparent 50%),
        radial-gradient(at 0% 60%, hsla(47,99%,63%,1) 0px, transparent 50%),
        radial-gradient(at 55% 21%, hsla(65,76%,69%,1) 0px, transparent 50%),
        radial-gradient(at 21% 67%, hsla(184,87%,75%,1) 0px, transparent 50%),
        radial-gradient(at 69% 50%, hsla(40,65%,76%,1) 0px, transparent 50%);
    --bg-2: hsla(214,11%,66%,1);
    --bg-img-2:
        radial-gradient(at 39% 26%, hsla(202,87%,85%,1) 0px, transparent 50%),
        radial-gradient(at 53% 95%, hsla(244,60%,79%,1) 0px, transparent 50%),
        radial-gradient(at 70% 20%, hsla(339,0%,81%,1) 0px, transparent 50%),
        radial-gradient(at 85% 25%, hsla(37,86%,76%,1) 0px, transparent 50%),
        radial-gradient(at 66% 73%, hsla(297,70%,76%,1) 0px, transparent 50%),
        radial-gradient(at 24% 1%, hsla(41,66%,79%,1) 0px, transparent 50%);
    --bg-3: hsla(242,69%,62%,1);
    --bg-img-3:
        radial-gradient(at 71% 85%, hsla(217,88%,67%,1) 0px, transparent 50%),
        radial-gradient(at 84% 63%, hsla(306,60%,77%,1) 0px, transparent 50%),
        radial-gradient(at 43% 18%, hsla(164,67%,63%,1) 0px, transparent 50%),
        radial-gradient(at 39% 16%, hsla(245,85%,63%,1) 0px, transparent 50%),
        radial-gradient(at 44% 44%, hsla(129,66%,70%,1) 0px, transparent 50%),
        radial-gradient(at 60% 69%, hsla(332,65%,69%,1) 0px, transparent 50%),
        radial-gradient(at 55% 23%, hsla(192,72%,67%,1) 0px, transparent 50%);
    --bg-4: hsla(145,95%,82%,1);
    --bg-img-4:
        radial-gradient(at 46% 95%, hsla(221,100%,76%,1) 0px, transparent 50%),
        radial-gradient(at 22% 77%, hsla(205,100%,56%,1) 0px, transparent 50%),
        radial-gradient(at 88% 38%, hsla(188,96%,52%,1) 0px, transparent 50%),
        radial-gradient(at 49% 50%, hsla(47,100%,70%,1) 0px, transparent 50%);
    --bg-5: #99ffff;
    --bg-img-5: 
        radial-gradient(at 14% 33%, hsla(234,90%,68%,1) 0px, transparent 50%),
        radial-gradient(at 69% 98%, hsla(352,67%,79%,1) 0px, transparent 50%),
        radial-gradient(at 44% 43%, hsla(341,69%,65%,1) 0px, transparent 50%),
        radial-gradient(at 39% 19%, hsla(264,77%,72%,1) 0px, transparent 50%),
        radial-gradient(at 97% 50%, hsla(221,74%,78%,1) 0px, transparent 50%),
        radial-gradient(at 56% 83%, hsla(45,93%,67%,1) 0px, transparent 50%),
        radial-gradient(at 91% 51%, hsla(105,61%,73%,1) 0px, transparent 50%);
    --bg-6: hsla(237,88%,71%,1);
    --bg-img-6:
        radial-gradient(at 4% 9%, hsla(235,99%,75%,1) 0px, transparent 50%),
        radial-gradient(at 40% 85%, hsla(203,78%,65%,1) 0px, transparent 50%),
        radial-gradient(at 80% 46%, hsla(183,76%,71%,1) 0px, transparent 50%),
        radial-gradient(at 42% 66%, hsla(136,64%,68%,1) 0px, transparent 50%);
    --bg-7: #99adff;
    --bg-img-7: 
        radial-gradient(at 50% 51%, hsla(207,62%,66%,1) 0px, transparent 50%),
        radial-gradient(at 46% 0%, hsla(218,61%,69%,1) 0px, transparent 50%),
        radial-gradient(at 71% 30%, hsla(230,65%,74%,1) 0px, transparent 50%),
        radial-gradient(at 50% 74%, hsla(228,72%,62%,1) 0px, transparent 50%),
        radial-gradient(at 67% 72%, hsla(8,69%,63%,1) 0px, transparent 50%),
        radial-gradient(at 85% 2%, hsla(67,86%,71%,1) 0px, transparent 50%),
        radial-gradient(at 66% 97%, hsla(247,63%,73%,1) 0px, transparent 50%);
    --bg-8: #ff99f8;
    --bg-img-8:
        radial-gradient(at 64% 97%, hsla(280,71%,77%,1) 0px, transparent 50%),
        radial-gradient(at 50% 96%, hsla(247,91%,77%,1) 0px, transparent 50%),
        radial-gradient(at 62% 52%, hsla(182,64%,65%,1) 0px, transparent 50%),
        radial-gradient(at 44% 83%, hsla(321,84%,68%,1) 0px, transparent 50%),
        radial-gradient(at 37% 83%, hsla(42,60%,66%,1) 0px, transparent 50%),
        radial-gradient(at 66% 48%, hsla(5,85%,71%,1) 0px, transparent 50%),
        radial-gradient(at 68% 16%, hsla(222,83%,78%,1) 0px, transparent 50%);
    --bg-9: #99ffec;
    --bg-img-9:
        radial-gradient(at 19% 78%, hsla(283,89%,70%,1) 0px, transparent 50%),
        radial-gradient(at 51% 38%, hsla(211,88%,75%,1) 0px, transparent 50%),
        radial-gradient(at 1% 95%, hsla(73,61%,60%,1) 0px, transparent 50%),
        radial-gradient(at 7% 11%, hsla(171,73%,70%,1) 0px, transparent 50%),
        radial-gradient(at 32% 21%, hsla(32,92%,67%,1) 0px, transparent 50%),
        radial-gradient(at 17% 65%, hsla(265,83%,74%,1) 0px, transparent 50%),
        radial-gradient(at 51% 27%, hsla(129,62%,71%,1) 0px, transparent 50%);
    --bg-10: #99e4ff;
    --bg-img-10: 
        radial-gradient(at 12% 65%, hsla(184,66%,78%,1) 0px, transparent 50%),
        radial-gradient(at 92% 36%, hsla(166,92%,67%,1) 0px, transparent 50%),
        radial-gradient(at 84% 47%, hsla(345,81%,78%,1) 0px, transparent 50%),
        radial-gradient(at 37% 2%, hsla(305,75%,71%,1) 0px, transparent 50%),
        radial-gradient(at 76% 75%, hsla(137,73%,70%,1) 0px, transparent 50%),
        radial-gradient(at 77% 56%, hsla(166,77%,66%,1) 0px, transparent 50%),
        radial-gradient(at 36% 43%, hsla(220,66%,73%,1) 0px, transparent 50%);
    --bg-11: hsla(0,100%,50%,1);
    --bg-img-11: 
        radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0px, transparent 50%),
        radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
        radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
        radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
        radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%);
}


/* --bg-1: hsla(50,98%,62%,1);
--bg-img-1: 
            radial-gradient(at 27% 6%, hsla(41,97%,64%,1) 0px, transparent 70%),
            radial-gradient(at 71% 53%, hsla(74,90%,76%,1) 0px, transparent 70%),
            radial-gradient(at 12% 36%, hsla(318,80%,76%,1) 0px, transparent 70%),
            radial-gradient(at 45% 78%, hsla(297,96%,71%,1) 0px, transparent 70%),
            radial-gradient(at 99% 81%, hsla(91,99%,72%,1) 0px, transparent 70%),
            radial-gradient(at 42% 83%, hsla(311,96%,62%,1) 0px, transparent 70%),
            radial-gradient(at 8% 66%, hsla(213,98%,79%,1) 0px, transparent 70%);

--bg-2:#e299ff;
--bg-img-2:
            radial-gradient(at 1% 87%, hsla(177,77%,69%,1) 0px, transparent 50%),
            radial-gradient(at 58% 25%, hsla(196,95%,66%,1) 0px, transparent 50%),
            radial-gradient(at 30% 13%, hsla(255,81%,78%,1) 0px, transparent 50%),
            radial-gradient(at 48% 98%, hsla(168,74%,71%,1) 0px, transparent 50%),
            radial-gradient(at 48% 79%, hsla(123,93%,75%,1) 0px, transparent 50%),
            radial-gradient(at 66% 35%, hsla(324,88%,70%,1) 0px, transparent 50%),
            radial-gradient(at 36% 26%, hsla(108,81%,75%,1) 0px, transparent 50%); */