/* LOCATION CONTAINER */

/*========== Location Cont ==========*/
main > div:nth-child(4) {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    justify-items: center;
    padding: 1rem;
    overflow: hidden;
}

/*========== Right div ==========*/
main > div:nth-child(4) > div {
    width: 100%;
    justify-self: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*========== Left img ==========*/
main > div:nth-child(4) > img{
    width: 150px;
    aspect-ratio: 1 /1;
    position: relative;
    top: 10%;
}

/*========== Right div: Country ==========*/
main > div:nth-child(4) > div> p:nth-child(1){
   /*  font-size: max(1rem, 2cqi); */
   font-size: clamp(1.8rem, 2vw, 2rem);
}

/*========== Right div: Area ==========*/
main > div:nth-child(4) > div > p:nth-child(2){
   /* font-size: max(2rem, 4cqi); */
   font-size: clamp(3.3rem, 4vw, 3.5rem);
   font-weight: 700;

   padding-left: 1rem;
}

/*========== Right div: Day & Date ==========*/
main > div:nth-child(4) > div > div:nth-child(3){
    font-size: clamp(1.3rem, 2vw, 1.5rem);
    padding-left: 1rem; 
}

/*========== Right div: Time ==========*/
main > div:nth-child(4) > div > p:nth-child(4){
    /* font-size: max(1rem, 5cqi); */
    font-size: clamp(4.3rem, 5vw, 4.5rem);
}


/*========== Media Queries ==========*/
/* Tablet: 1024px */
@media (max-width: 1200px) {
    /*========== Left img ==========*/
    main > div:nth-child(4) > img{
        width: 90px;
    }

    /*========== Right div: Country ==========*/
    main > div:nth-child(4) > div> p:nth-child(1){
        font-size: clamp(12px, 2vw, 1.5rem);
    }
    
    /*========== Right div: Area ==========*/
    main > div:nth-child(4) > div > p:nth-child(2){
        font-size: clamp(25px, 4vw, 3rem);
    }
    
    /*========== Right div: Day & Date ==========*/
    main > div:nth-child(4) > div > div:nth-child(3){
        font-size: clamp(12px, 2vw, 1rem);
    }
    
    /*========== Right div: Time ==========*/
    main > div:nth-child(4) > div > p:nth-child(4){
        font-size: clamp(25px, 4vw, 4rem);
    }
 
}

/* Phone: 360 */
@media (max-width: 550px), screen and (orientation: portrait) {
    /*========== Location Cont ==========*/
    main > div:nth-child(4) {
        padding: 10px;
    }

    /*========== Right div ==========*/
    main > div:nth-child(4) > div {
        align-items: center;
    }

    /*========== Left img ==========*/
    main > div:nth-child(4) > img{
        width: 40px;
        position: static;
    }
    
}




