/* LOCATION CONTAINER */

/*========== Location Cont ==========*/
main > div:nth-child(4) {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    justify-items: center;
    padding: 1rem;
    overflow: hidden;
}

/*========== Right div ==========*/
main > div:nth-child(4) > div {
    width: 100%;
    justify-self: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*========== Left img ==========*/
main > div:nth-child(4) > img{
    width: clamp(110px, 10vw, 150px);
    aspect-ratio: 1 /1;
    position: relative;
    top: 10%;
}

/*========== Right div: Country ==========*/
main > div:nth-child(4) > div> p:nth-child(1){
   font-size: clamp(20px, 5vw, 25px);
}

/*========== Right div: Area ==========*/
main > div:nth-child(4) > div > p:nth-child(2){
   font-size: clamp(50px, 5vw, 200px);  
   font-weight: 700;

   padding-left: 1rem;
}

/*========== Right div: Day & Date ==========*/
main > div:nth-child(4) > div > div:nth-child(3){
    font-size: 20px;
    padding-left: 1rem; 
}

/*========== Right div: Time ==========*/
main > div:nth-child(4) > div > p:nth-child(4){
    font-size: clamp(50px, 5vw, 200px);
}


/*========== Media Queries ==========*/
/* Tablet: 1024px */
@media (max-width: 1200px) {
    /*========== Location Cont ==========*/
    main > div:nth-child(4) {
        grid-template-columns: 1fr 0.3fr;
        padding: 10px;
    }
}

/* Phone: 360 */
@media (max-width: 550px), screen and (orientation: portrait) {
    /*========== Location Cont ==========*/
    main > div:nth-child(4) {
        grid-template-columns: 1fr 0.5fr;
    }

    /*========== Left img ==========*/
    main > div:nth-child(4) > img{
        width: clamp(70px, 15vw, 100px);
       /*  position: static; */
    }
    
    /*========== Right div: Country ==========*/
    main > div:nth-child(4) > div> p:nth-child(1){
        font-size: 14px;
        padding-left: 10vw;
    }
    
    /*========== Right div: Area ==========*/
    main > div:nth-child(4) > div > p:nth-child(2){
        font-size: 25px;
        padding-left: 12vw;
    }
    
    /*========== Right div: Day & Date ==========*/
    main > div:nth-child(4) > div > div:nth-child(3){
        font-size: 14px;
        padding-left: 12vw;
    }
    
    /*========== Right div: Time ==========*/
    main > div:nth-child(4) > div > p:nth-child(4){
        font-size: 30px;
        padding-left: 10vw;
    }
}




