/* style for search, get location, and logo */

/*========== Search Cont ==========*/
main > div:nth-child(5) form{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

main > div:nth-child(5)  input {
   background-color: transparent;
   /* font-size: min(1rem, 3cqw); */
   font-size: clamp(0.6rem, 3cqw, 1rem);
   height: 2rem;
   width: 60%;
   padding-left: 5px;
   
   border: none;
   border-bottom: 1.5px solid gray;
   outline: none;
}

main > div:nth-child(5)  button {
    border: none;
    background-color: transparent;
}

main > div:nth-child(5)  img {
    width: 25px;
}


/*========== Location Cont ==========*/
main > div:nth-child(2) {
   display: flex;
   align-items: center;
   justify-content: center;
}

main > div:nth-child(2) > button{
    font-size: 1rem;
    padding: 5px 2cqi;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.5);

    display: flex;
    align-items: center;
}

main > div:nth-child(2) > button > img {
    width: 25px;
    height: auto;
}

main > div:nth-child(2) > button::after {
    content: "\00a0 \00a0 My Position"
}

/*========== Logo Cont ==========*/
main > div:nth-child(1) {
    font-size: clamp(0.6rem, 3cqw, 1.5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: bold;
}
 
main > div:nth-child(1) img {
    width: min(2.5rem, 6cqi);
    height: auto;
}
 

/*========== Media Queries ==========*/
/* Tablet: 1024px */

/* Phone: 360 */
@media (max-width: 550px), screen and (orientation: portrait) {

    /* Search input */
    main > div:nth-child(5)  input {
        height: 1.5rem;
    }

    /* Search magnifier */
    main > div:nth-child(5)  img {
        width: 25px;
    }

    /* Position */
    main > div:nth-child(2) > button{
        background-color: transparent;
        border: none;
    }

    main > div:nth-child(2) > button::after {
        content: ""
    }

    /* logo img */
    main > div:nth-child(1) img {
        width: 25px;
    }
}

@media (max-width: 300px){
        /* logo title */
        main > div:nth-child(1) > p {
            display: none;
        }
}