/* style for Wind Container */

/*========== Parent Cont ==========*/
main > div:nth-child(6) {
    font-size: clamp(16px, 1.5cqw, 2rem);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

/*========== Child divs ==========*/
main > div:nth-child(6) div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*========== inner P ==========*/
main > div:nth-child(6) div > p {
    font-weight: bold;
}

/*========== inner values ==========*/
main > div:nth-child(6) div > p:last-child {
    color: var(--gray1);
    margin-top: 1.5rem;
}

/*========== arrow ==========*/
main > div:nth-child(6) div img {
    width: 28px;
    height: 28px;
    margin-top: 1.5rem;
    transition: transform 0.5s ease;
}

/*========== measurement units ==========*/
main > div:nth-child(6) div > p:last-child::after{
    color: var(--gray2);
    font-size: 1rem;
    font-weight: 100;
}

main > div:nth-child(6) div:is(:nth-child(1), :nth-child(2)) > p:last-child::after {
    content: "mph";
}


/*========== Media Queries ==========*/
/* Tablet: 1024px */

@media (max-width: 1200px) {
    
    /*========== Parent Cont ==========*/
    main > div:nth-child(6) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;

        padding: 5px
    }

    /*========== inner P values==========*/
    main > div:nth-child(6) div > p:last-child {
        margin-top: 0.5rem;
    }

    /*========== arrow ==========*/
    main > div:nth-child(6) div img {
        height: 24px;
        margin-top: 0.5rem;
    }
}

/* Phone: 360 */
@media (max-width: 550px), screen and (orientation: portrait) {
     /*========== inner values ==========*/
    main > div:nth-child(6) div > p:last-child {
        margin-top: 0.2rem;
    }

    /*========== arrow ==========*/
    main > div:nth-child(6) div img {
        height: 20px;
        margin-top: 0.2rem;
    }
}